<%- include('layouts/header.ejs') %>

  <main>
    <div class="info">
      <div class="info-1">
        <h1 class="cinema-title"></h1>
        <p class="cinema-open"></p>
        <div class="info-modal">
          <ul class="info-modal-list"></ul>
        </div>
      </div>
      <div class="info-2">
        <img class="kino-img" />
      </div>
    </div>
  </main>

  <h2 class="movies-headText"></h2>
  <div class="movies-listText">
    <ul class="movies-list">
      <% allMovies.forEach((movie)=>{ %>
        <li class="movies-listItems">
          <a class="movies-listLink" href="/movies/<%= movie.id %>">
            <%= movie.attributes.title %>
          </a>
        </li>
        <%});%>
    </ul>
  </div>

  <%- include('layouts/footer.ejs') %>