<main>
  <div class="info">
    <div class="info-1">
      <h1 class="cinema-title"></h1>
      <p class="cinema-open"></p>
      <div class="info-modal">
        <ul class="info-modal-list"></ul>
      </div>
    </div>
    <div class="info-2">
      <img class="kino-img" />
    </div>
  </div>
</main>

<h2 class="movie-headText">Visas nu på KINO Sandviken</h2>

<div class="movie-listText">
  <ul class="movie-list">
    {{#each allMovies}}
    <li class="movie-listItems">
      <a class="movie-listLink" href="/movies/{{this.id}}">
        {{this.attributes.title}}
      </a>
    </li>
    {{/each}}
  </ul>
</div>